*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 7px;
    }
    
    .div1 { grid-area: 1 / 2 / 5 / 4; }
    .div2 { grid-area: 1 / 4 / 3 / 8; }
    .div3 { grid-area: 3 / 4 / 5 / 6; }
    .div4 { grid-area: 3 / 6 / 5 / 8; }
    .div5 { grid-area: 5 / 4 / 7 / 8; }
    .div1,.div2,.div3,.div4{
        background-color: #4A5159;
    }

    a{
        text-decoration: none;
        color: black;
    }
    
    .navigation{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 10px;
    
    }
  .line{
    width: 100%px;
    height: 3px;
    background-color: black;
}
  footer{
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

h3{
    margin-top: 10px;
}

footer i{
    color: white;
    font-size: 21px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;

}
