<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/07b6929b40.js" crossorign="anonymous"></script>
    <title>Template 8</title>
</head>

<body>
    <div class="navigation">
        <a href="../template-7/index.html" title="Click here to acess other page">
            <i class="fas fa-arrow-left"></i>
            Previous Page
        </a>
        <a href="../template-9/index.html" title="Click here to acess other page">
            <i class="fas fa-arrow-right"></i>
            Next Page
        </a>
    </div>
    <div class="container">
        <div class="div1">
        </div>
        <div class="div2"> </div>
        <div class="div3"> </div>
        <div class="div4"> </div>
        <div class="div5">
            <div class="text">
                <h2>TITLE</h2>
                <div class="line"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor fringilla scelerisque. Vivamus
                    non posuere eros. Cras consequat sagittis erat. Maecenas et semper tortor. Nunc cursus interdum
                    ipsum, vel dapibus augue tristique eu. Aliquam id pulvinar est. Ut pulvinar posuere euismod. Integer
                    quis mauris erat. Praesent convallis metus lacinia dictum condimentum. Curabitur posuere velit id
                    odio dapibus lobortis. Maecenas augue dolor, dignissim a eros nec, bibendum porta mi. Phasellus eu
                    pellentesque sapien, sed fermentum arcu. Integer vitae orci in nibh bibendum malesuada sed lacinia
                    augue. Fusce eu rhoncus odio, nec tristique arcu. </p>

            </div>
        </div>
    </div>


    <footer>
        <h3>Created by: Luiz Augusto</h3>
        <div class="social-media-footer">
            <a href="https://www.facebook.com" target="_blank" title="Facebbok"><i class="fab fa-facebook"></i></a>
            <a href="https://github.com/luizaugusto527/" target="_blank" title="Github"><i
                    class="fab fa-github"></i></a>
            <a href="https://instagram.com" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>
</body>

</html>